netbox-plugin-prometheus-sd
# To get pre-release:
#git+https://github.com/FlxPeters/netbox-plugin-prometheus-sd@main

netbox-topology-views
# To get pre-release:
#git+https://github.com/mattieserver/netbox-topology-views@main
